body {
    background-color: #000000;
    color: white;
}

.navbar {
    background-color: #34343c;
}
    .container-fluid img {
        height: 50px;
        width: 50px;
    }

.card {
    background-color: #000000;
    color: white;
}

.img-thumbnail {
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 0;
    max-width: fit-content;
}