body {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.9);
}

.navbar {
    background-color: #34343c;
}
    .container-fluid img {
        height: 50px;
        width: 50px;
        margin-left: 15px;
    }

    .nav-item a {
        color: rgba(255, 255, 255, 0.9);
    }

.card {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.9);
}

    .praseccion a {
        color: rgba(255, 255, 255, 0.9);
    }
        .praseccion a:hover {
            color: #34343c;
        }

.colix {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* height: 100vh; */
    margin: 10px 0 10px 0;
}

.img-thumbnail {
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 0;
    max-width: fit-content;
    transition: all 500ms ease-out;
}
    .colix .capahover{
        position: absolute;
        top: 0;
        height: 100%;
        width: 200px;
        background: rgba(52, 52, 60, 0.7);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    .colix .capahover h3 {
        margin-top: 90px;
    }   

    .colix .capahover a {
        text-decoration: none;
        color: white;
    }

    .colix:hover > .capahover{
        opacity: 1;
        visibility: visible;
    }

.sdaseccion h3 {
    font-size: large;
    margin-top: 10px;
}

footer p {
    font-size: small;
}

/* MUSICA */

.praseccionm .ratio {
    float: left;
    width: 50%;
}

.praseccionm .p {
    font-size: larger;
    text-align: center;
    /* float: right;
    display: inline-block; */
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.psm2 {
    background-color: #34343c;
    display: flex;
}   

    .psm2 .col-md-6 {
        background-color: #34343c;
    }

    .psm2 .card {
        background-color: #34343c;
    }

.praseccionm2 .ratio {
    float: right;
    width: 50%;
    /* left: 50%; */
}

.praseccionm2 .p {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

/* AUDIOVISUALES */

.psav1 {
    background-color: #34343c;
}
    .psav1 {
        text-align: center;
    }

    .psav1 {
        text-align: center;
    }

.psav2 {
    text-align: center;
}

.praseccionm2 .pav {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}

.praseccionm .pav2 {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}

.praseccionm .pav22 {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

/* VIVOS - DIRECTOS */



/* CONTACTO */

.img-container {
    display: flex;
    justify-content: center;
}

.cpsimg {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.cps {

    .elementos {
        margin: 0px auto 10px auto;
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    
    .elementos a {
        color: white;
        width: 50px;
        font-size: 22px;
    }
    
    .elementos i {
        transition: .0.5s ease-in-out;
    }
    
    .elementos .fa-facebook:hover {
        color: #34343c;
    }
    
    .elementos .fa-instagram:hover {
        color: #34343c;
    }
    
    .elementos .fa-tiktok:hover {
        color: #34343c;
    }
    
    .elementos .fa-youtube:hover {
        color: #34343c;
    }
}

.cf {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#000000;
}