body {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.9);
}

.navbar {
    background-color: #34343c;
}
    .container-fluid img {
        height: 50px;
        width: 50px;
    }

    .nav-item a {
        color: rgba(255, 255, 255, 0.9);
    }

.card {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.9);
}

    .praseccion a {
        color: rgba(255, 255, 255, 0.9);
    }
        .praseccion a:hover {
            color: #34343c;
        }

.img-thumbnail {
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 0;
    max-width: fit-content;
}
    /* .sdaseccion a:hover {
        background-color: #34343c;
    } */

.sdaseccion h3 {
    font-size: large;
    margin-top: 10px;
}

footer p {
    font-size: small;
}

/* MUSICA */

.praseccionm .card-text {
    text-align: center;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* vertical-align: middle; */
}

.psm2 {
    background-color: #34343c;
}   
    .psm2 .card-body {
        background-color: #34343c;
    }

    .psm2 .card-text {
        padding-left: 70px;
        vertical-align:bottom;
    }

    .psm2 .col-md-6 {
        background-color: #34343c;
    }

    .psm2 .card {
        background-color: #34343c;
    }

/* AUDIOVISUALES */

.psav1 {
    background-color: #34343c;
}
    .psav1 {
        text-align: center;
    }

    .psav1 {
        text-align: center;
    }

.psav2 {
    text-align: center;
}

/* VIVOS - DIRECTOS */

.vdf p {
    
}

/* CONTACTO */

.img-container {
    display: flex;
    justify-content: center;
}

.cpsimg {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.cps {

    .elementos {
        margin: 0px auto 10px auto;
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    
    .elementos a {
        color: white;
        width: 50px;
        font-size: 22px;
    }
    
    .elementos i {
        transition: .0.5s ease-in-out;
    }
    
    .elementos .fa-facebook:hover {
        color: #34343c;
    }
    
    .elementos .fa-instagram:hover {
        color: #34343c;
    }
    
    .elementos .fa-tiktok:hover {
        color: #34343c;
    }
    
    .elementos .fa-youtube:hover {
        color: #34343c;
    }
}

.cf {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#000000;
}